@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0a0a0a;
    background-image: radial-gradient(rgb(73, 73, 73) 1px, transparent 0);
    background-size: 40px 40px;
    background-attachment: fixed;
    background-position: center;
}
header{
    height: 80vh;
}
.header-logo{
    color: white;
}
.nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #292929;
}
.nav ul li{
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
}
.nav ul li a, .header-logo a{
    text-decoration: none;
    color: #9a9a9a;
    border: 2px solid #292929;
    background-color: #111111;
    padding: 10px;
    transition: .2s ease-in-out 0s;
}
.nav ul li a:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.content{
    text-align: center;
    margin-top: 5%;
}
.content img{
    width: 6%;
    border-radius: 100px;
    margin-bottom: 5px;
}
.content h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #9a9a9a;
}
.content p{
    font-size: 3rem;
    margin-bottom: 30px;
    background: #ffffff;
    background: linear-gradient(to right, #ffffff, #9a9a9a);
    -webkit-background-clip: text;
    color: transparent;
}
.content a{
    text-transform: uppercase;
    background-color: #111111;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border: 2px solid #292929;
    color: #9a9a9a;
    display: block;
    width: 12%;
    margin: 50px auto;
    transition: .2s ease-in-out 0s;
}
.content a:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.content i{
    font-size: 18px;
    margin-left: 5px;
}

/* About page */
.inview-about{
    background-color: #0f0f0f;
    height: 50vh;
    border-bottom: 1px solid #292929;
    border-top: 1px solid #292929;
    display: flex;
    padding: 40px;
    padding-left: 15%;
    align-items: center;
}
.inview-about img{
    width: 20%;
    margin-left: 3%;

}
.inview-about h3{
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
}
.inview-about p{
    background: #ffffff;
    background: linear-gradient(to right, #ffffff, #9a9a9a);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}

/* Card */
.card-container{
    position: relative;
    min-height: 80vh;
    padding-top: 5%;
}
.card-container h1{
    text-align: center;
    font-size: 3rem;
    color: #9a9a9a;
    padding: 10px;
}
.card-container .card-box{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card-container .card-box .images{
    width: 640px;
    height: 320px;
    border: 2px solid #9a9a9a;
    overflow: hidden;
    cursor: pointer;
}
.card-container .card-box .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.card-container .card-box .images:hover img{
    transform: scale(1.1);
}

/* Contact page */
.inview-contact{
    text-align: center;
    height: 80vh;
    padding-top: 10%;
}
.inview-contact h1{
    margin-bottom: 50px;
    font-size: 3rem;
    color: #9a9a9a;
}
.inview-contact p{
    font-size: 50px;
    margin-bottom: 30px;
    background: #ffffff;
    background: linear-gradient(to right, #ffffff, #9a9a9a);
    -webkit-background-clip: text;
    color: transparent;
}
.inview-contact a{
    text-transform: uppercase;
    background-color: #111111;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border: 2px solid #292929;
    color: #9a9a9a;
    display: block;
    width: 10%;
    margin: 50px auto;
    transition: .2s ease-in-out 0s;
}
.inview-contact a:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.inview-contact i{
    font-size: 18px;
    margin-left: 10px;
}

/* Footer */
.footer{
    width: 90%;
    text-align: center;
    margin: auto;
    border-top: 1px solid #292929;
}
.footer p{
    color: #fff;
    padding: 10px;
}

/* This is responsive screen xs */
@media only screen and (max-width: 400px),(max-width: 600px), (max-width: 800px), (max-width: 1000px) {
    .nav ul li a, .header-logo a{
        font-size: 10px;
    }
    .content{
        margin-top: 20%;
    }
    .content img{
        width: 20%;
    }
    .content h4{
        font-size: 10px;
    }
    .content p{
        font-size: 16px;
    }
    .content a, .content i{
        font-size: 5px;
        width: 30%;
        padding: 10px;
        padding-left: 5%;
    }
    /* .inview-about{
        display: grid;
        grid-template-columns: 1fr;
    } */
    .inview-about h3, .inview-about p{
        font-size: 10px;
    }
    .inview-about img{
        width: 30%;
    }

    .card-container{
        margin-top: 5%;
    }
    .card-container h1{
        font-size: 15px;
    }
    .card-container .card-box{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .card-container .card-box .images{
        width: 320px;
        height: 160px;
        border: 2px solid #9a9a9a;
        overflow: hidden;
        cursor: pointer;
    }
    .card-container .card-box .images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s linear;
    }
    .card-container .card-box .images:hover img{
        transform: scale(1.5);
    }


    .inview-contact{
        margin-top: 30%;
    }
    .inview-contact h1{
        font-size: 1.5rem;
    }
    .inview-contact p{
        font-size: 2rem;
    }
    .inview-contact a, .inview-contact i{
        font-size: 7px;
        padding: 10px;
        width: 30%;
    }


    footer p{
        font-size: 10px;
    }
    
}